@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts-3by.pages.dev/space-mono-v15-latin/space-mono-v15-latin-700.woff2")
    format("woff2");
}
:root {
  /*COLORS*/
  /* Primary */
  --primary-button-bg: hsl(172, 67%, 45%);
  --primary-button-hover-bg: hsl(172, 57%, 74%);

  /* Neutral */
  --primary-text-color: hsl(183, 100%, 15%);
  --secondary-text-color: hsl(186, 14%, 43%);
  --placeholder-text-color: hsl(184, 14%, 56%);
  --light-background: hsl(185, 41%, 84%);
  --lighter-background: hsl(189, 41%, 97%);
  --white-background: hsl(0, 0%, 100%);
  --error-text-color: hsl(0, 100%, 73%);
  --cta-text-color: hsl(189, 41%, 97%);
  --cta-hover-text-color: hsl(183, 100%, 15%);
  --summary-value-color: hsl(172, 67%, 45%);
  --summary-title-color: white;

  /*Fonts*/
  --font-family: "Space Mono", monospace;

  /*Font sizes*/
  --font-size-100: 0.825rem;
  --font-size-200: 1rem;
  --font-size-300: 1.25rem;
  --font-size-400: 1.5rem;
  --font-size-500: 2rem;
}  

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);
  background-color: var(--light-background);
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.cta.selected{
  background-color: hsl(172, 27%, 50%);
  color: var(--primary-text-color);
}

.section-heading {
  font-size: clamp(0.875rem, 0.475rem + 0.82vb, var(--font-size-200));
  color: var(--placeholder-text-color);
}

.input {
  width: 100%;
  background-color: var(--lighter-background);
  border: none;
  font-size: var(--font-size-200);
  margin-block: 10px;
  padding-block: 10px;
  padding-left: 30px;
  padding-right: 20px;
  text-align: right;
  border-radius: 6px;
  color: var(--primary-text-color);
}

.input:focus {
  outline-color: var(--primary-button-bg);
}

.error-text {
  color: var(--error-text-color);
}
.app-container {
  min-width: 200px;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.app-container header {
  width: 5.625rem;
  justify-self: center;
}
.app-container .title {
  color: var(--primary-text-color);
  font-size: var(--font-size-400);
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-block: 30px;
}

main {
  padding: clamp(1.25rem, 0.233rem + 4.651vi, 2.5rem);
  border-radius: 25px 25px 0 0;
  background-color: var(--white-background);
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.input-section {
  position: relative;
}
.input-section img {
  height: 1.25rem;
  width: 0.9375rem;
  position: absolute;
  top: 33%;
  left: 3%;
}

.heading-error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cta-section {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  margin-block: clamp(1.25rem, -0.748rem + 4.098vb, 1.875rem);
}

.cta {
  height: 2.8125rem;
  border-radius: 6px;
  background-color: var(--primary-text-color);
  border: none;
  color: var(--cta-text-color);
  font-size: var(--font-size-300);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.cta:hover {
  background-color: var(--primary-button-hover-bg);
  color: var(--cta-hover-text-color);
}

.custom-tip-input {
  height: 2.5rem;
  margin-block: 0px;
  padding: 10px;
  font-size: var(--font-size-300);
  font-weight: 700;
}

.summary-container {
  display: grid;
  gap: 30px;
  margin-block: 20px;
  grid-template-rows: repeat(3, 1fr);
  padding-block: clamp(1.875rem, -4.119rem + 12.295vb, 3.75rem);
  padding-inline: clamp(1.25rem, 0.741rem + 2.326vi, 1.875rem);
  background-color: var(--primary-text-color);
  border-radius: 15px;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.summary .summary-header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.summary .summary-header .summary-title {
  font-size: var(--font-size-300);
  font-weight: 700;
  color: var(--summary-title-color);
}
.summary .summary-header .per-person-label {
  font-size: var(--font-size-200);
  font-weight: 700;
  color: var(--secondary-text-color);
}
.summary .summary-value {
  font-size: var(--font-size-500);
  font-weight: 700;
  color: var(--summary-value-color);
}

.reset-button {
  height: 3.75rem;
  border-radius: 6px;
  border: none;
  background-color: var(--primary-button-bg);
  font-size: var(--font-size-400);
  font-weight: 700;
  color: var(--primary-text-color);
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.reset-button:hover {
  background-color: var(--primary-button-hover-bg);
}

footer {
  display: none;
}

footer{
  justify-self: center;
  align-self: center;
}

footer p{
  color: var(--primary-text-color);
  text-align: center;
}

footer .footer-text{
  font-size: var(--font-size-200);
  font-weight: 700;
}

footer .footer-note{
  font-size: var(--font-size-100);
  font-weight: 400;
}

@media (min-width: 800px) {
  .app-container {
    height: 100%;
    display: grid;
    gap: 30px;
    grid-template-rows: 12.5rem auto 6.25rem;
  }

  header {
    align-self: end;
  }

  main {
    height: 100%;
    width: 55rem;
    justify-self: center;
    align-content: center;
    border-radius: 25px;
    gap: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .summary-container {
    margin-block: 0;
  }

  footer {
    display: block;
  }
}
